.card-faq {
    background: linear-gradient(180deg, #E8FBE5 0%, #FFFFFF 100%);
    margin-top: 20px;
    height: 1000px;
}


.card-faq a {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #025214;
    line-height: 40px;
}

.accordion-item, .accordion-button {
    background-color: transparent !important;
}