
/* penjelasan */
.penjelasan {
    margin-top: 63px;
}

.card-konsul {
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 15px;
}

.card-satu {
    background: linear-gradient(180deg, #E8FBE5 0%, #009922 100%);
    
}

.card-dua {
    background: linear-gradient(180deg, #E8FBE5 0%, #009999 100%);
}

.card-tiga {
    background: linear-gradient(180deg, #E8FBE5 0%, #006B99 100%);
}

.card-empat {
    background: linear-gradient(180deg, #E8FBE5 0%, #D3567C 100%);
}

.card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    margin-top: 58px;
    margin-bottom: 36px;
}

.card-text {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    line-height: 30px;
}

.btn-janji {
    border-radius: 12px;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 30px;
}

/* daftar konsultant */
.daftar-konsultan {
    background: linear-gradient(100.4deg, #025214 -0.11%, rgba(0, 97, 15, 0.58) 100%);
    padding-bottom: 50px;
}

.konsultan-judul {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #fff;
    margin-top: 20px;
}

.konsultan-card {
    background: linear-gradient(117.73deg, #E8FBE5 0.07%, rgba(232, 251, 229, 0) 101.85%);
    border-radius: 6px;
    padding: 5px;
    height: 340px;
    margin-right: 20px;
}

.konsultan-c {
    flex: 1;
}


.konsultan-nama {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #025214;
}

.konsultan-gelar {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #025214;
}

.konsultan-kategori {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #025214;
    margin-bottom: 30px;
}

.konsultan-deskripsi {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #025214;
}

.konsultan-image {
    position: absolute;
    top: 160px;
    
}

.carousel-indicators {
    margin-top: 50px !important;
}


/* mobile css */
@media (min-width: 600px) {

    /* penjelasan */
    .card-konsul {
        height: 550px;
        padding: 20px;
    }



}