body {
    background: #E8FBE5 ;
    box-sizing: border-box;
}

/* profile */

.profile-ahli {
    background: linear-gradient(180deg, #E8FBE5 0%, #FFFFFF 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 15px;
}

.izin-praktik {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #000;
    text-align: center;
}

.nomor-izin {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: #000;
    text-align: center;
}

.pengalaman {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #000;
}

ul, li {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

.profile-nama {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #025214;
    line-height: 30px;
    margin-bottom: 5px ;
}

.profile-gelar {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #000;
}



/* mobile css */
@media (min-width: 758px) {

    .profile-foto {
        margin-top: -60px;
     }
    
    
    }

    
/* mobile css */
@media (min-width: 1000px) {

    /* profile */
    .penanganan-destop {
        padding-left: 170px;
    }
    
    .profile-nama {
        font-size: 60px;
        line-height: 50px;
    }

    .profile-foto {
       margin-top: -230px;
    }

}